[Unit]
Description=Start batman interface
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/sbin/mesh.sh

[Install]
WantedBy=multi-user.target
